body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: 'Crimson Text', serif;
}

/* HEADER */
header {
  text-align: center;
  padding: 10px 10px 0px;
  background-color: #000;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  z-index: 1000;
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-image {
  height: 70px;
  width: auto;
}
.brand h1 {
  font-size: 30px;
  margin: 0;
  color: white;
}
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #a32020;
}






/* About Section */
.about-container {
    max-width: 1000px;
    margin: 120px auto 50px auto; /* space for fixed navbar */
    padding: 20px;
    background: rgba(255, 69, 0, 0.05);
    border: 1px solid rgba(255, 69, 0, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.about-container h2 {
    font-size: 28px;
    color: #ff7518;
    margin-bottom: 20px;
    text-align: center;
}

.about-container p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #e0e0e0;
    text-align: justify;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  padding: 50px 20px 20px;
  font-family: 'Crimson Text', serif;
  /*border-top: 1px solid #333;*/
  margin-top: 0; /* removes extra space */
}

footer p {
  font-size: 14px;
  text-align: center;
  color: #a32020;
  margin: 4px 0;
}
