body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: 'Crimson Text', serif;
}

/* HEADER */
header {
  text-align: center;
  padding: 10px 10px 0px;
  background-color: #000;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  z-index: 1000;
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-image {
  height: 70px;
  width: auto;
}
.brand h1 {
  font-size: 30px;
  margin: 0;
  color: white;
}
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #a32020;
}


/* Contact Section */
.contact-section {
  margin-top: 120px; /* space for fixed navbar */
  text-align: center;
}

.contact-section h2 {
  color: #ff4500;
  margin-bottom: 20px;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #111;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ff4500;
}

label {
  text-align: left;
  font-weight: bold;
}

input, textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background: #ff4500;
  border: none;
  padding: 12px;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e63900;
}

/* Error message */
#errorMsg {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  padding: 50px 20px 20px;
  font-family: 'Crimson Text', serif;
  /*border-top: 1px solid #333;*/
  margin-top: 0; /* removes extra space */
}

footer p {
  font-size: 14px;
  text-align: center;
  color: #a32020;
  margin: 4px 0;
}
